.container
  .row
    .main-content

      .gallery
        %ul.gallery__list
          %li.gallery__item=image_tag "codepen.jpg", class: "gallery__img", alt: "A screenshot of my feature ped on Codepen.io"
          %li.gallery__item=image_tag "work.jpg", class: "gallery__img", alt: "A card with a nice message from a work colleague"
          %li.gallery__item=image_tag "pioneer.jpg", class: "gallery__img", alt: "An image of a trophy I was awarded for being the employee of the month"
          %li.gallery__item=image_tag "wdcnz.jpg", class: "gallery__img", alt: "Snapshot of my WDCNZ entry card with lanyard"

      .intro
        %h1.intro__heading Hello, I'm Dana
        %p.intro__text
          I am a Web Developer from Lower Hutt working in Wellington city. I have been coding since I was a child, no kidding. I am literally a geek. 
        %p.intro__text
          I built a web application to track my store inventory when I was a stay at home mum back in 2007. I actually ended my clothing design business to continue my love for coding and I have never looked back.

        %p.intro__text
          I've been through many avenues in my career, first starting off as a front-end developer / web designer, then onto back-end for many years.
        %p.intro__text
          I have taught Web Development in schools, namely Yoobee School of Design and Wellington High School. Teaching is a very fulfilling profession, especially when you see students eyes open for the first time.
          There's no better feeling when you hear about your students landing a Web Development job.
        %p.intro__text
          Recently, I decided to become specialised in front-end development as it's what I enjoy doing the most and frankly it's where my strengths are.
          That's not to say I never code in back-end anymore, I still do at home; mostly for fun.

        %p.intro__text
          I am always on the look-out for new and exciting opportunities, 
          if you'd like to get in touch with me, the best way is by email: 
          %span.intro__text--highlight ianzltd@gmail.com
          or you can call me on 
          %span.intro__text--highlight 022 053 4687.
        %p.intro__text
          %span.intro__text--highlight= ":-)"
