%div{style: "margin: 0 auto; margin-top: 150px"}
  %h1 The Web Geek
  %h2 dana@theweb.geek.nz
  %h3 +0064 22 0534687

  %p{style: "width: 400px; margin: 0 auto; margin-bottom: 20px; margin-top: 50px"} We are geeks who live and breathe the web. <br>No job is too hard or too small.